
html, body {
    margin: 0;
    padding: 0;
}

.parallax {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg1 {
    background-image: url('https://www.cozycatfurniture.com/image/cache/siamese-cat-cover-1054x791.jpg');
}

.bg2 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiVEG5lWE0scz5lbijx9-C4G8PgPU-1nTcZb-30_eW8E66j4qHzTCBVqj&s=10');
}

.black-block {
    background-color: black;
    color: white;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}
