body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#balloon {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%; /* Converts square div into a perfect circle */
    cursor: pointer;
}